.page-footer {
  color: #ffffff;
  background-color: #0E407F;
}

.page-footer .centring-container {
  display: flex;
  min-height: 100px;
  margin-top: 40px;
}

.page-footer .logo {
  width: 200px;
  margin-right: auto;
}

.copyright {
  width: 100px;
  margin-right: auto;
}